.dailyBreakfast {
  grid-column: 7/11;
  background-color: rgb(204, 225, 169);
  border: 0.2em solid rgb(246, 244, 167);
  outline: 0.4em solid rgb(204, 225, 169);
  padding: 6%;
  display: flex;
  flex-flow: row nowrap;
}

@media (max-width: 425px) {
  .dailyBreakfast {
    grid-column: 1/11;
    margin: 10%;
  }
}

.dailyBreakfast-title {
  color: white;
  writing-mode: tb-rl;
  transform: rotate(180deg);
  display: inline-block;
  text-align: center;
  font-size: 200%;
  transform: scale(-1.7, -1);
  width: 20%;
  margin-bottom: 0;
  margin-top: 0;
  margin-left: auto;
  margin-right: 0;
  padding: 0;
  border: 0;
}

.dailyBreakfast-list {
  list-style-type: none;
  margin: 0;
  padding: 0;
  border: 0;
  width: 77%;
  display: inline-block;
  margin-left: auto;
  align-self: center;
}

.dailyBreakfast-list-item-day {
  background-color: rgb(175, 215, 207);
  color: white;
  width: 99%;
  display: inline-block;
  margin: 0%;
  transform: scale(1, 1.1);
}

.dailyBreakfast-list-item-dish {
  width: 88%;
  display: inline-block;
  margin: 0%;
  font-weight: 700;
  font-size: 120%;
  transform: scale(1, 1.1);
}

.dailyBreakfast-list-item-price {
  width: 10%;
  display: inline-block;
  margin: 0%;
  font-size: 120%;
  font-weight: 400;
  transform: scale(1, 1.1);
}

@media (min-width: 2500px) {
  .dailyBreakfast-title {
    font-size: 450%;
  }
  .dailyBreakfast-list-item-day {
    font-size: 200%;
  }
  .dailyBreakfast-list-item-dish {
    font-size: 240%;
  }
  .dailyBreakfast-list-item-price {
    font-size: 240%;
  }
}

@media (min-width: 1900px) and (max-width: 2499px) {
  .dailyBreakfast-title {
    font-size: 400%;
  }
  .dailyBreakfast-list-item-day {
    font-size: 180%;
  }
  .dailyBreakfast-list-item-dish {
    font-size: 220%;
  }
  .dailyBreakfast-list-item-price {
    font-size: 220%;
  }
}

@media (min-width: 1700px) and (max-width: 1899px) {
  .dailyBreakfast-title {
    font-size: 330%;
  }
  .dailyBreakfast-list-item-day {
    font-size: 160%;
  }
  .dailyBreakfast-list-item-dish {
    font-size: 200%;
  }
  .dailyBreakfast-list-item-price {
    font-size: 200%;
  }
}

@media (min-width: 1550px) and (max-width: 1699px) {
  .dailyBreakfast-title {
    font-size: 330%;
  }
  .dailyBreakfast-list-item-day {
    font-size: 160%;
  }
  .dailyBreakfast-list-item-dish {
    font-size: 185%;
  }
  .dailyBreakfast-list-item-price {
    font-size: 185%;
  }
}

@media (min-width: 1440px) and (max-width: 1549px) {
  .dailyBreakfast-title {
    font-size: 330%;
  }
  .dailyBreakfast-list-item-day {
    font-size: 160%;
  }
  .dailyBreakfast-list-item-dish {
    font-size: 170%;
  }
  .dailyBreakfast-list-item-price {
    font-size: 170%;
  }
}

@media (min-width: 1280px) and (max-width: 1439px) {
  .dailyBreakfast-title {
    font-size: 300%;
  }
  .dailyBreakfast-list-item-day {
    font-size: 140%;
  }
  .dailyBreakfast-list-item-dish {
    font-size: 160%;
  }
  .dailyBreakfast-list-item-price {
    font-size: 160%;
  }
}

@media (min-width: 1200px) and (max-width: 1279px) {
  .dailyBreakfast-title {
    font-size: 260%;
  }
  .dailyBreakfast-list-item-day {
    font-size: 130%;
  }
  .dailyBreakfast-list-item-dish {
    font-size: 150%;
  }
  .dailyBreakfast-list-item-price {
    font-size: 150%;
  }
}

@media (max-width: 1024px) {
  .dailyBreakfast-title {
    font-size: 180%;
    width: 15%;
  }
  .dailyBreakfast-list {
    width: 82%;
  }
  .dailyBreakfast-list-item-day {
    font-size: 80%;
  }
  .dailyBreakfast-list-item-dish {
    font-size: 100%;
    width: 85%;
  }
  .dailyBreakfast-list-item-price {
    font-size: 100%;
  }
}

@media (max-width: 900px) {
  .dailyBreakfast-title {
    font-size: 170%;
    width: 15%;
  }
}

@media (max-width: 800px) {
  body {
    margin: 5%;
  }
  .dailyBreakfast-title {
    font-size: 160%;
    width: 15%;
  }
  .dailyBreakfast-list {
    width: 82%;
  }
  .dailyBreakfast-list-item-day {
    font-size: 70%;
  }
  .dailyBreakfast-list-item-dish {
    font-size: 90%;
    width: 82%;
  }
  .dailyBreakfast-list-item-price {
    font-size: 90%;
  }
}

@media (max-width: 750px) {
  .dailyBreakfast-title {
    font-size: 160%;
    width: 15%;
  }
  .dailyBreakfast-list {
    line-height: 90%;
  }
  .dailyBreakfast-list-item-day {
    font-size: 70%;
  }
  .dailyBreakfast-list-item-dish {
    font-size: 80%;
    width: 82%;
  }
  .dailyBreakfast-list-item-price {
    font-size: 80%;
  }
}

@media (max-width: 650px) {
  .dailyBreakfast-title {
    font-size: 150%;
    width: 16%;
  }
  .dailyBreakfast-list-item-day {
    font-size: 60%;
  }
  .dailyBreakfast-list-item-dish {
    font-size: 70%;
  }
  .dailyBreakfast-list-item-price {
    font-size: 70%;
  }
}

@media (max-width: 550px) {
  .dailyBreakfast {
    padding: 3%;
  }
  .dailyBreakfast-title {
    font-size: 130%;
  }
  .dailyBreakfast-list {
    width: 82%;
    line-height: 70%;
  }
  .dailyBreakfast-list-item-day {
    font-size: 50%;
  }
  .dailyBreakfast-list-item-dish {
    font-size: 60%;
  }
  .dailyBreakfast-list-item-price {
    font-size: 60%;
  }
}

@media (max-width: 480px) {
  .dailyBreakfast-title {
    font-size: 120%;
    width: 18%;
  }
  .dailyBreakfast-list {
    line-height: 60%;
    width: 80%;
  }
  .dailyBreakfast-list-item-day {
    font-size: 50%;
  }
  .dailyBreakfast-list-item-dish {
    font-size: 55%;
  }
  .dailyBreakfast-list-item-price {
    font-size: 55%;
  }
}

@media (max-width: 425px) {
  body {
    margin: 5%;
  }
  .dailyBreakfast-title {
    font-size: 160%;
    width: 15%;
  }
  .dailyBreakfast-list {
    line-height: 100%;
    width: 83%;
  }
  .dailyBreakfast-list-item-day {
    font-size: 80%;
  }
  .dailyBreakfast-list-item-dish {
    font-size: 100%;
  }
  .dailyBreakfast-list-item-price {
    font-size: 100%;
  }
}

@media (max-width: 360px) {
  .dailyBreakfast-title {
    font-size: 150%;
  }
  .dailyBreakfast-list-item-day {
    font-size: 70%;
  }
  .dailyBreakfast-list-item-dish {
    font-size: 85%;
  }
  .dailyBreakfast-list-item-price {
    font-size: 85%;
  }
}
