body {
  background-color: rgb(246, 244, 167);
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  text-transform: uppercase;
  display: grid;
  grid-template-columns: repeat(10, 10%);
  font-size: 16px;
  margin: 8%;
}
