.header {
  grid-column: 1/7;
  display: flex;
  flex-flow: row wrap;
  align-items: center;
  justify-content: center;
  width: 95.56%;
  font-size: 4vw;
  transform: scale(1, 1.2);
  text-transform: uppercase;
}

.header-line {
  width: 93%;
}

.header-title1 {
  align-self: center;
  margin: 0%;
}
.header-title2 {
  align-self: center;
  margin: 0%;
}